* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

body {
    background-color: black;
}

.top-bar {
    background-color: darkblue;
    height: 20vh;
    width: 100vw;
    border-bottom: 2px solid white;
}

.partenze {
    color: white;
    height: 70%;
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
    margin-left: 25px;
    padding-top: 25px;
}

.informazioni {
    display: flex;
    height: 30%;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    align-items: flex-end;
    margin: 0 25px;
    color: white;
}

.main {
    height: 70vh;
    width: 100vw;
    display: flex;
    align-content: space-between;
    overflow-y: scroll;
}

.main-ora {
    width: 25%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 36px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 10px;
}

.main-destinazione {
    display: flex;
    width: 25%;
    display: flex;
    flex-direction: column;
    color: yellow;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 10px;
}

.main-binario {
    display: flex;
    width: 25%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 10px;
}

.main-puntualita {
    display: flex;
    width: 25%;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
    margin-right: 25px;
    margin-top: 10px;
}

.bottom-bar {
    background-color: darkblue;
    height: 10vh;
    width: 100vw;
    border-top: 2px solid white;
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

.bottom-left, .bottom-right {
    margin: 0 25px;
}

.biglietto {
    border-radius: 5%;
    font-weight: bold;
    font-size: 32px;
    padding-top: 5px;
    padding-left: 15px;
    line-height: 1.5;
    background-image: url("https://st.depositphotos.com/2165583/4844/v/950/depositphotos_48447599-stock-illustration-background-of-crumpled-paper-with.jpg");
    height: 250px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#nome-cognome {
    text-transform: capitalize;
}

.tabella {
    opacity: 0.5;
}
